tornado
psycopg2-binary         #postgresql adaptor
records
pycryptodome            # low-level cryptographic primitives
git+https://github.com/brugger/kbr-tools.git
tabulate                # Pretty-print tabular data in Python
bioblend                # galaxy api wrapper for python
requests
pika                    # RabbitMQ python library
certifi                 # Used by nga-cli, Root Certificates for validating the trustworthiness of SSL